
<%= simple_form_for @category do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <!%= f.association :brand %>
      <!%= f.association :manufacturer %>
      <%= f.association :brand, collection:  Brand.all.order(:name_brand),label_method: :name_brand,value_method: :id, prompt: "Choose a Brand" %>
      <%= f.association :manufacturer, collection: Manufacturer.all.order(:name_manufacturer),label_method: :name_manufacturer,value_method: :id, prompt: "Choose a Manufacturer" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, f.object.new_record? ? 'Criar Category' : 'Atualizar Category', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
